{% extends "base.html" %}

{% block title %}
List of product cards
{% endblock title %}

{% block content %}
    <h1>List of product cards:</h1>
        <td><a href="{% url 'product_card:pc_create' %}">Create a new product card</a></td>
        <table class="table table-striped">
        {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'product_card:pc_update' pk=obj.pk %}">{{ obj.pk  }} </a></td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.publishing_year }}</td>
            <td><a href="{% url 'product_card:pc_delete' pk=obj.pk %}" class="btn btn-danger"><i class="bi bi-x-lg"></a></td>
        </tr>
    </table>
        {% endfor %}
{% endblock content %}