{% extends "base.html" %}


{% block title %}
Shipping info
{% endblock title %}

{% block content %}
<div class="col-md">
    <h2 class="featurette-heading fw-normal lh-1 text-center">Have you already heard about WAWBOOKS?</h2>
    <p class="lead">Absolutely sure you've heard... We're a small but soulful company that will envelop you in the enchanting world of books and won't keep you waiting long for delivery. Do you want to give a gift to someone, or maybe you want to treat yourself to a nice book? Then you should definitely come to us. You can always contact our managers online, by email, phone or you can visit our shop in Warsaw. Thank you for choosing us and wish you a pleasant shopping experience.</p>
  </div>

  
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <p class="lead"> <strong>customerservice@wawbooks.pl</strong><br>
        <strong>+48 525 881 652</strong><br>
        <strong>+48 369 665 963</strong><br>
        <hr class="featurette-divider">
        <h5><strong>Marszałkowska 87/m. 123, 00-527 Warszawa.</strong><br></h5><br>
        <h5><strong>Mn-Fr - 09:00-21:00.</strong><br></h5>
        <h5><strong>Sat - 11:00 - 21:00.</strong></h5>

      </p>
      <div>
    </div>
    </div>
    <div class="col-md-5 order-md-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d513.7628400105002!2d21.01239130894437!3d52.227374411270226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x839196983d2a176a!2zNTLCsDEzJzM4LjEiTiAyMcKwMDAnNDUuOCJF!5e0!3m2!1sen!2spl!4v1670531647665!5m2!1sen!2spl" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
  {% endblock content %}