{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'bs/css/custom_home_page.css' %}" rel="stylesheet">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">WAWBOOKS</a><br>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/catalog">Catalog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Genres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Publishing houses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Profile</a>
              </li>
              {% if perms.product_card.view_book%}
          <li class="nav-item">
            <a class="nav-link active" href="#">Administrative portal</a>
          </li>
          {% endif %}
            </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link"  href="https://select.by/kursy-valyut/natsbank-rb">2.4980 USD/BYN</a>
                </li>
              </ul>
            
              <form action="{% url 'search_results' %}" method="get" class="d-flex" role="search">
                <input name="q" type="text" class="form-control me-2" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success me-4" type="submit">Search</button>
              </form>
    
            <li style="list-style-type: none">
            {% if user.is_authenticated %}
      <span class="navbar-text mr-2">{{ user }}</span>
      <a href="/logout" class="btn btn-outline-light"><i class="bi bi-door-closed"></i></a>
    {% else %}
      <a href="{% url 'home_page:login' %}" class="btn btn-outline-light">Login</a>
      <a href="{% url 'home_page:register' %}" class="btn btn-outline-light">Sign up</a>
    {% endif %}
    <a href="{% url 'carts:cart_edit' %}" class="btn btn-outline-light"><i class="bi bi-cart"></i></a>
  </li>
          </div>
        </div>
      </nav>
    </header>
  
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <image src="https://phonoteka.org/uploads/posts/2022-02/thumbs/1645250731_56-phonoteka-org-p-mnogo-knig-fon-60.jpg" alt="books" width="100%" height="100%" border="1">
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Order a book for your soul today.</h1>
              <p>Sign up in two clicks. </p>
              <p><a class="btn btn-lg btn-primary" href="register/">Sign up now</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <image src="https://phonoteka.org/uploads/posts/2022-02/thumbs/1645250816_53-phonoteka-org-p-mnogo-knig-fon-57.jpg" alt="books" width="100%" height="100%" border="1">  
          <div class="container">
            <div class="carousel-caption">
              <h1>A huge number of books to suit all tastes.</h1>
              <p>Still not shure what to choose? It's not a problem, we have a big choise. </p>
              <p><a class="btn btn-lg btn-primary" href="catalog/">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <image src="https://phonoteka.org/uploads/posts/2022-02/1645250782_20-phonoteka-org-p-mnogo-knig-fon-22.jpg" alt="books" width="100%" height="100%" border="1">
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Any genre you want.</h1>
              <p>We are sure to find you a book of any genre.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2 class="fw-normal">Elizabeth Strout</h2>
          <p>Elizabeth Strout is widely known for her works in literary fiction and her descriptive characterization.</p>
          <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Elizabeth_Strout">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2 class="fw-normal">Donna Tartt</h2>
          <p>Donna Louise Tartt is an American novelist and essayist. Learn more about her works.</p>
          <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Donna_Tartt">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2 class="fw-normal">Colleen Hoover</h2>
          <p>Colleen Hoover has sold more than 20 million books. Learn more about her books.</p>
          <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Colleen_Hoover">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Just new fantasy adventure. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Jinwoo knows it won't be long before his true power fully comes to light and the guilds and Hunter's Association of Korea descend, seeking his allegiance. Since his training has thus far been a solo endeavor, Jinwoo decides he ought to at least see what an A-rank raid is really like. Joining the Hunters' excavation team is the perfect opportunity to assess a high-level guild in action, even if his role is limited to hauling and mining. That is, until a particularly nasty dungeon boss requires the luggage carrier to step up to carry the team as well!</p>
          <div>
            <a href={% url "catalog:book_detail" pk=3 %} class="btn btn-outline-success me4">Get it now!</a>
          </div>
        </div>
        <div class="col-md-5">
            <div class="shadow p-3 mb-5 bg-body rounded">
            <img src="{{ new_book.image.url }}" alt="Solo leveling" width="500" height="500" border="1">
            </div>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, the most popular book. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead"> It is three in the morning when Bobby Western zips the jacket of his wet suit and plunges from the Coast Guard tender into darkness. His dive light illuminates the sunken jet, nine bodies still buckled in their seats, hair floating, eyes devoid of speculation. Missing from the crash site are the pilot’s flight bag, the plane’s black box, and the tenth passenger. But how? A collateral witness to machinations that can only bring him harm, Western is shadowed in body and spirit—by men with badges; by the ghost of his father, inventor of the bomb that melted glass and flesh in Hiroshima; and by his sister, the love and ruin of his soul.</p>
          <div>
            <a href={% url "catalog:book_detail" pk=10 %} class="btn btn-outline-success me4">Get it now!</a>
        </div>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <img src="{{ awesome_book.image.url }}" alt="The passenger" width="500" height="500" border="1">
            </div>
            </div>
          </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">We recommend. <span class="text-muted">Check it out.</span></h2>
          <p class="lead">Under the influence of their charismatic classics professor, a group of clever, eccentric misfits at an elite New England college discover a way of thinking and living that is a world away from the humdrum existence of their contemporaries. But when they go beyond the boundaries of morality, their lives are changed profoundly and for ever.</p>
          <div>
            <a href={% url "catalog:book_detail" pk=2 %} class="btn btn-outline-success me4">Get it now!</a>
          </div>
        </div>
        <div class="col-md-5">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <img src="{{ history_book.image.url }}" alt="The secret History" width="500" height="500" border="1">
                </div>
            </div>
          </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
    <!-- FOOTER -->
    <footer class="py-3 my-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Shipping</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Special offers</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
          <p class="text-center text-muted">&copy; 2022 LeatherDiamond, Inc</p>
        </div>
        </div>
    </footer>
  </main>
  
  
      <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  
        
    </body>
  </html>
  