{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
    <center><a class="buttons-in-row" href="{% url 'social:begin' 'google-oauth2' %}"><img src="https://i.imgur.com/2dywpzc.png" width='20%' class="avatar-3" data-toggle="tooltip" title='Login via Google+'></a></center>
    <br>
    <hr class="featurette-divider">
    <h1>Login</h1>
	<form method="POST">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
		{% csrf_token %}
		{{ login_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Log in</button>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
	</form>
	<p class="text-center">Still not registered? <a href="/register">Sign up</a> now.</p>
</div>

{% endblock %}