{% extends "base.html" %}


{% block title %}
Shipping info
{% endblock title %}

{% block content %}

 <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Happy clients is our job! <span class="text-muted">Delivery next day.</span></h2>
          <p class="lead">Just choose the books you like and place your order in one click. Our managers will contact you within an hour to clarify the details, and a courier will deliver the goods next day at latest. Order three or more books and delivery will be <strong>free!</strong> Order books direct to your workplace, home or any convenient place and our couriers will not make you wait long.</p>
        </div>
        <div class="col-md-5">

            <img src="https://edaprof.ru/image/catalog/img-home/delivery/kurier2.jpg" alt="courier" width="500" height="500" border="1">
            </div>
        </div>
      </div>
        
{% endblock content %}