<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre preview</title>
</head>
<body>
    <h1>Genre:</h1>
    Genre number in the list: {{ object.pk }}<br>
    Genre name: {{ object.genre_name }}<br>
    Description: {{ object.description|default:"No description was provided" }}
    <br>
    <td><a href="{% url 'references:genre_create' %}">Create a new genre</a></td>
    <br>
    <td><a href="{% url 'references:genres_list' %}">Show the list of genres</a></td>
</body>
</html>