{% extends "base.html" %}

{% block title %}
Genre preview
{% endblock title %}

{% block content %}
    <h1>Genre:</h1>
    Genre number in the list: {{ object.pk }}<br>
    Genre name: {{ object.genre_name }}<br>
    Description: {{ object.description|default:"No description was provided" }}
    <br>
    <td><a href="{% url 'references:genre_create' %}">Create a new genre</a></td>
    <br>
    <td><a href="{% url 'references:genres_list' %}">Show the list of genres</a></td>
{% endblock content %}