<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author's preview</title>
</head>
<body>
    <h1>Author:</h1>
    Author's number in the list: {{ object.pk }}<br>
    Author's data: {{ object.name }}<br>
    Description: {{ object.description }}
    <br>
    <td><a href="/author_create/">Create a new author</a></td>
    <br>
    <td><a href="/authors_list/">Show the list of authors</a></td>
</body>
</html>