{% extends "base.html" %}

{% block title %}List of authors{% endblock title %}

{% block content %}
        <h1>List of authors:</h1>
            <td><a href="{% url 'references:author_create' %}">Create a new author</a></td>
        <table class="table table-striped">
            {% for obj in object_list %}
            <tr>
                <td><a href="{% url 'references:author_update' pk=obj.pk %}">{{ obj.pk  }} </a></td>
                <td>{{ obj.name }} {{ obj.surname }} </td>
                <td><a href="{% url 'references:author_delete' pk=obj.pk %}" class="btn btn-danger"><i class="bi bi-x-lg"></i></a></td>
            </tr>
            {% endfor %}
    </table>
{% endblock content %}