{% extends "base.html" %}

{% block title %}List of series{% endblock title %}


{% block content %}
    <h1>List of series:</h1>
        <td><a href="{% url 'references:series_create' %}">Create a new series</a></td>
    <table class="table table-striped">
        {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'references:series_update' pk=obj.pk %}">{{ obj.pk  }} </a></td>
            <td>{{ obj.book_series }}</td>
            <td><a href="{% url 'references:series_delete' pk=obj.pk %}" class="btn btn-danger"><i class="bi bi-x-lg"></a></td>
        </tr>
        {% endfor %}
    </table>
        {% endblock content %}